---
exclude: ^(models|output)/
repos:
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.1 # or other specific tag
      hooks:
          - id: yamlfmt

    - repo: https://github.com/ComPWA/taplo-pre-commit
      rev: v0.9.3
      hooks:
          - id: taplo-format

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-illegal-windows-names
          - id: check-json
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: debug-statements
          - id: destroyed-symlinks
          - id: check-yaml
          - id: end-of-file-fixer
          - id: fix-byte-order-marker
          - id: forbid-submodules
          - id: mixed-line-ending
          - id: name-tests-test
          - id: pretty-format-json
          - id: trailing-whitespace

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.13.1
      hooks:
          - id: ruff-check
            args: [--fix]
          - id: ruff-format

    # - repo: local
    #   hooks:
    #       - id: mypy
    #         name: mypy type-check
    #         entry: ./scripts/run-mypy.sh
    #         language: system
    #         types: [python]
    #         require_serial: true
    #         verbose: true
    #         pass_filenames: false
    #         args:
    #             - --config-file=pyproject.toml
